<div class="poster-box">
    <img class="poster" src={{img}} alt={{name}}>
    <div class="movie-info">
        <p class="film-title">{{name}}</p>
        <p>{{year}}</p>
        <p class="film-about-text"> {{description}} </p>
        <button class="modal-close-button"></button>        
        <button class="star-icon-modal"></button>
        <div class="genres">
            <p>Genres: {{genres}}</p>
            <p>Director: {{director}}</p>
            <p>Starring: {{starring}}</p>
        </div>
    </div>

</div>