<li class="movie-gallery-item">
    <img src="{{img}}" alt="{{name}}"
        class="movie-gallery-cover" data-id="{{id}}">
    
    <p class="movie-gallery-title">{{name}}</p>
    <button type="button" class="star-icon"></button type="button">
    <p class="movie-gallery-title">{{year}}</p>


</li>
